* {
    margin: 0;
    padding: 0;
    border: none;
    border: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vmin;
    align-items: center;
    background-color: #0B3954;
}

.main {
    padding: 5vmin;
    border: 1px solid black;
    border-radius: 2vmin;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.6);
    background-color: #daf0fb;
}

.heading {
    margin-bottom: 2vmin;
    text-align: center;

    p {
        font-size: 6vmin;
        font-weight: 500;
    }
}

.ft {
    font-size: 3vmin;
    padding-left: 1vmin;
    padding-top: 1vmin;
}

.converter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.countryImage {
    width: 10vmin;
    height: 10vmin;
}

.from {
    display: flex;
    flex-direction: column;
    margin: 2vmin;
}

.to {
    display: flex;
    flex-direction: column;
    margin: 2vmin;
}

i {
    font-size: 4vmin;
}

.select-container {
    margin-top: 2vmin;
    display: flex;

    .countrySelect {
        background-color: transparent;
        width: 30vmin;
        outline: none;
        font-size: 2.25vmin;
    }

    img {
        padding: 0px;
        height: 7vmin;
    }

    border: 1px solid black;
    border-radius: 1vmin;
}

.symbol-amount {
    border: 1px solid black;
    border-radius: 1vmin;
    height: 7vmin;
    display: flex;
    align-items: center;

    input {
        background-color: transparent;
        font-size: 2.25vmin;
        outline: none;
        cursor: pointer;
    }

    p {
        padding-left: 1vmin;
        padding-right: 1vmin;
        font-size: 3vmin;
        font-weight: 500;
    }

}

.symbol-amount:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.border :hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.div2 {
    flex-grow: 1;
}